.mainSplash {
    /* background-image: url('../../assets/Splash_Page_Background_4.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */

    background-image: linear-gradient(to bottom right, #FBEEC1, #659DBD, #DAAD86);

    height: auto;

    padding: 15px;
    margin: 0px;
}

.mainSplashDiv {
    padding: 3vw;
}

.welcome {
    margin: 0px;
    color: white;
}