.mainSplash {
    background-image: linear-gradient(to bottom right, #FBEEC1, #659DBD, #DAAD86);
    background-size: cover;

    height: auto;

    padding: 15px;
    margin: 0px;
}

.mainSplashDiv {
    padding: 3vw;
}

.welcome {
    margin: 0px;
    color: white;
}