.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%, 0) !important;

    padding: 1em;

    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;

    width: 25vw;
    height: auto;
}

.selectDropdown {
    height: 25px;
    width: 250px;

    margin-bottom: 1em;
}

#updateModal {
    padding: 1em;
}

input {
    margin: 1em;
}