.mainTrails {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainTrailsDiv {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;

    margin: 4em;

    height: 75vh;
    width: 75vw;

    overflow-y: auto;
}

tr {
    padding: 2em;
}