.mainAuth {
    background-image: url('../../assets/Auth_Page_Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainAuthDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    color: white;
    background-color: rgba(110, 120, 110, 0.9);
}

.formDiv {
    display: flex;
    padding: 0.5em;
}

h1 {
    text-decoration: underline;
}

input {
    margin: 0.5em;
    height: 20px;
}